<launch>
    <!-- start the Realsense -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
        <arg name="enable_pointcloud" default="false"/> 
    </include>

    <!-- start AprilTag -->
    <include file="$(find apriltag_ros)/launch/continuous_detection.launch" >
    </include>

    <!--publish hand-eye calibration-->
    <arg name="eye_on_hand" default="false" />
    <group ns="gluon_realsense_eye_on_base">
        <param name="eye_on_hand" value="$(arg eye_on_hand)" />
        <param unless="$(arg eye_on_hand)" name="robot_base_frame" value="base_link" />
        <param if="$(arg eye_on_hand)" name="robot_effector_frame" value="fake_hand" />
        <param name="tracking_base_frame" value="" />
        <param name="inverse" value="false" />
        <node name="$(anon handeye_publisher)" pkg="easy_handeye" type="publish.py" output="screen"/>
    </group>


    <!-- start the robot -->
    <include file="$(find gluon_moveit_config)/launch/cm_demo.launch">
    </include>

    <!-- start the gripper -->
    <include file="$(find innfos_control)/gripper_control/launch/gripper_control.launch">
    </include>
</launch>
